@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-accent-500: #fece34;
  --clr-accent-300: #fee590;
  --clr-accent-100: #fdf9ee;
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #e5e5e5;
  --clr-neutral-500: #242323;
  --clr-neutral-700: #000000;

  --background: var(--clr-neutral-100);
  --foreground: var(--clr-neutral-700);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 700;
}
.logo {
  height: 80px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 1em 0;
  list-style: none;
  gap: 2rem;
  border-bottom: 1px solid var(--clr-neutral-300);
}

header > ul {
  display: flex;
  gap: 2rem;
}

header > ul > li {
  padding: 0 1.6rem;
}

header .accent {
  background-color: var(--clr-accent-300);
}

footer {
  background-color: var(--clr-neutral-300);
  display: flex;
}

footer > ul {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.hero {
  display: flex;
  width: 100%;
  max-height: 800px;
}

.hero img {
  object-fit: cover;
  overflow: hidden;
}

.hero > * {
  flex: 1;
}

.hero .text {
  background-color: var(--clr-accent-500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.what-we-do {
}

.what-we-do img {
  height: 300px;
}
.who-we-are img {
  height: 300px;
}

.meaning {
  background-color: var(--clr-accent-100);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-500);
}

.casapueblito {
  background-color: var(--clr-accent-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-500);
  padding: 2rem 0;
}

.casapueblito img {
  height: 100px;
}
