@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mobile: 768px;
  --laptop: 1024px;
  --large-screen: 1400px;

  --clr-accent-500: #fece34;
  --clr-accent-300: #fee590;
  --clr-accent-100: #fdf9ee;
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #e5e5e5;
  --clr-neutral-500: #242323;
  --clr-neutral-700: #000000;

  --background: var(--clr-neutral-100);
  --foreground: var(--clr-neutral-700);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid grey; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 700;
}
.logo {
  height: 80px;
}

.wrapper {
  --max-width: 1096px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - (2 * var(--padding)));
  margin-inline: auto;
  display:flex;
  flex-direction: column;
}

@media(min-width:768px){
  flex-direction: row;
}

.wrapper--full-width {
  --max-width: 100%;
  /* --padding: 0rem; */
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-block: 1em;
  list-style: none;
  gap: 2rem;
  border-bottom: 1px solid var(--clr-neutral-300);
}

header > ul {
  display: flex;
  gap: 2rem;
}

header > ul > li {
  padding: 0 1.6rem;
}

header .accent {
  background-color: var(--clr-accent-300);
}

footer {
  background-color: var(--clr-neutral-300);
  display: flex;
  height: 80px;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  color: #242323;
  font-size: 14px;
}

footer > div {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

footer > ul,
footer > div > ul {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

footer li {
  padding-inline: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  width: min(100%, 1400px);
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero .image-container {
  height: 800px;
  width: 80%;
  position: relative;
}

.hero img {
  height: 105%;
  /* width: 100%; */
  display: block;
  object-fit: cover;
  overflow: hidden;
  /* max-height: 600px; */
}

.gradient-left {
  display: none;
}
.gradient-right {
  display: none;
}

.text-container {
  background-color: var(--clr-accent-500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* mobile */

/* laptop > 768px */
@media (min-width: 768px) {
  .hero .image-container {
    width: 42%;
  }

  .hero {
    flex-direction: row;
    height: 600px;
  }

  .gradient-right {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      transparent 60%,
      var(--clr-accent-500)
    );
  }

  .text-container {
    width: 57%;
  }
}

/* large screen > 1400px */
@media (min-width: 1400px) {
  .hero .image-container {
    width: 52%;
  }
}

.hero .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid red; */
  width: max-content;
}

.hero p {
  font-size: 64px;
  letter-spacing: -1px;
  line-height: 1.2em;
}

.text p:last-of-type {
  padding-bottom: 2rem;
}

.what-we-do,
.who-we-are,
.join-us {
  margin-block: 2rem;
}

.who-we-are {
  display: flex;
  flex-direction: column-reverse;
}

.what-we-do {
  display: flex;
}

.what-we-do img {
  height: 80px;
}

.who-we-are img {
  height: 80px;
  
}

@media(min-width:768px) {
.what-we-do img {
  height: 300px;
}
  .who-we-are {
   height: 300px;
    margin-left: 100px;
}

.who-we-are h1,
.what-we-do h1,
.join-us h1 {
  font-size: 64px;
}
.who-we-are p,
.what-we-do p {
  max-width: 62ch;
  padding-block: 1rem;
}

.what-we-do img {
  height: 300px;
  margin-right: 100px;
}
.what-we-do .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.join-us .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.meaning {
  background-color: var(--clr-accent-100);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-500);
}

.casapueblito {
  background-color: var(--clr-accent-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-500);
  padding: 2rem 0;
}

.casapueblito img {
  height: 100px;
}

.betty {
  display: flex;
  justify-content: center;
}
.betty-container {
  display: flex;
  flex-direction:column;
}

@media(min-width:768px){
  .betty-container{
    flex-direction:row;
  }
}

.betty .text {
  max-width: 62ch;
  background-color: var(--clr-accent-500);
  padding: 2rem 4rem;
}
